# Copy these environment variables into a .env file and set their values

## API in Docker container connection values
API_PORT=3000

## PostgreSQL real database connection values
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=notifications_db
HOST_DB_PORT=5432

## PostgreSQL test database connection values
TEST_DB_DOCKER_CONTAINER=test_db_container
TEST_DB_USER=postgres
TEST_DB_PASSWORD=postgres
TEST_DB_HOST=localhost
TEST_DB_PORT=5432
TEST_DB_NAME=test_notifications_db
TEST_HOST_DB_PORT=5433

# Docker environment target
DOCKER_ENVIRONMENT_TARGET=development