# Copy these environment values into a .env file and set their values

# PostgreSQL database connection values
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=notifications_db